<div class="login-dark d-flex justify-content-center align-items-center flex-column">
    <h3 class="text-light text-center mt-5">Error : {{this.flashError}}</h3>
    <a href="/register"><button class="btn btn-primary">Volver al Registro</button></a>
</div>